body{
	background-color:gray;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#canvasDiv {
  width: 850px;
  float: left;
}

#toolBox {
  width: auto;
  float: left;
}

#drawingBoard{
	background-color:white;
<<<<<<< HEAD
=======
	height:600px;
	width:800px;
	margin:10px;
>>>>>>> 0c37950a755fb5e5762a048dab4e7c12a7113137
}